*{
    margin: 0;
    padding: 0;
}

.hero {
    height: 100vh;
    position: relative;
}

/* https://css-tricks.com/snippets/css/transparent-background-images/ */
.hero::after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.hero {
    background-image: url("/media/hero-2.jpg");
    background-repeat: no-repeat;
}
.hero-txt{
    height: 100vh;
}
/* ---------------media styling for screen size mobile  */

/* @media (max-width: 1024px) {
    .hero-1 {
        background-image: url("/media/hero-lg.jpg");
    }
}
@media (max-width: 768px) {
    .hero-1 {
        background-image: url("/media/hero-md.jpg");
    }
}

@media (max-width: 480px) {
    .hero-1 {
        background-image: url("/media/hero-sm.jpg");
    }
} */
